@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@


﻿

@*<br />
<br />
<div class="ml-5 pl-5">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">
                <h1>Find your new pawsome family member</h1>
                <br>
                <p>Place where you can adopt stray dog, donate for those in need, ask question about whatever related to your dog and get sincere answers from other dog lovers.</p>
                <br />
                <div class="ml-3 pl-3">
                    <a asp-action="ListDogCategories" asp-controller="Dogs" class="btn btn-primary btn-lg">Get started</a>
                </div>

            </div>
            <div class="col-6 ">
                <img src="~/Images/ProjectImages/pawsome.png" style="width:80%" class="ml-5 pl-5">
            </div>
        </div>
    </div>
</div>*@


<section class="background-radial-gradient overflow-hidden">
    ﻿
<div class="ml-5 pl-5" backround = "">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">

                    <h1>Lifelong memories just a few seconds away.</h1>
                <br>
                    <p>Let's start your journey with us, your dream will come true.</p>
                <br />
                <div class="ml-4 pl-4">
                    <a asp-action="Index" asp-controller="Offer" class="btn btn-primary btn-lg">Reserve now</a>
                </div>

            </div>
            <div class="col-6 ml-0 lp-0">
                @*<img src="~/Images/people.png" class="rounded">*@
                 <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/Images/people.png" alt="people">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

@*<div class="row">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/Images/people.png" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div class="ml-5">
                            <h2 class="mb-0 font-weight-normal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="brown" class="bi bi-sun" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                </svg>
                            </h2>
                        </div>
                        <div class="p-3">
                            <h4 class="location font-weight-normal">Bangalore</h4>
                            <h6 class="font-weight-normal">India</h6>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
    <h1>Lifelong memories just a few seconds away.</h1>
    <br>
    <p>Let's start your journey with us, your dream will come true.</p>
    <br />
    <div class="ml-4 pl-4">
        <a asp-action="Index" asp-controller="Offer" class="btn btn-primary btn-lg">Reserve now</a>
    </div>
    </div>
</div>*@