@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@


﻿

@*<br />
<br />
<div class="ml-5 pl-5">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">
                <h1>Find your new pawsome family member</h1>
                <br>
                <p>Place where you can adopt stray dog, donate for those in need, ask question about whatever related to your dog and get sincere answers from other dog lovers.</p>
                <br />
                <div class="ml-3 pl-3">
                    <a asp-action="ListDogCategories" asp-controller="Dogs" class="btn btn-primary btn-lg">Get started</a>
                </div>

            </div>
            <div class="col-6 ">
                <img src="~/Images/ProjectImages/pawsome.png" style="width:80%" class="ml-5 pl-5">
            </div>
        </div>
    </div>
</div>*@


<section class="background-radial-gradient overflow-hidden">
    ﻿
<div class="ml-5 pl-5" backround = "">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">

                    <h1>Lifelong memories just a few seconds away.</h1>
                <br>
                    <p>Let's start your journey with us, your dream will come true.</p>
                <br />
                <div class="ml-4 pl-4">
                    <a asp-action="Index" asp-controller="Offer" class="btn btn-primary btn-lg">Reserve now</a>
                </div>

            </div>
            <div class="col-6 ml-0 lp-0">
                <img src="~/Images/back1.png" class="rounded" style="width:700px; height:500px;">
            </div>
        </div>
    </div>
</div>
</section>