@model WA_TravelAgency_v1.Models.DomainModels.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="OfferId" class="control-label"></label>
                <select asp-for="OfferId" class ="form-control" asp-items="ViewBag.OfferId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReservedBy" class="control-label"></label>
                <input asp-for="ReservedBy" class="form-control" />
                <span asp-validation-for="ReservedBy" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NumOfPassengers" class="control-label"></label>
                <input asp-for="NumOfPassengers" class="form-control" />
                <span asp-validation-for="NumOfPassengers" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
