@model WA_TravelAgency_v1.Models.DomainModels.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="OfferId" class="control-label"></label>
                <select asp-for="OfferId" class="form-control" asp-items="ViewBag.OfferId"></select>
                <span asp-validation-for="OfferId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AmountToPay" class="control-label"></label>
                <input asp-for="AmountToPay" class="form-control" />
                <span asp-validation-for="AmountToPay" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReservationDate" class="control-label"></label>
                <input asp-for="ReservationDate" class="form-control" />
                <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Paid" class="control-label"></label>
                <select asp-for="Paid" class="form-control">
                    <option>No</option>
                    <option>Yes</option>
                </select>
                <span asp-validation-for="Paid" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option>Created</option>
                    <option>Active</option>
                    <option>Canceled</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
